/* globals.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/portfoliorm/public/fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url('/portfoliorm/public/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
}

html, body {
  @apply font-sans;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  max-width: 1900px;
  border: 1px solid #33333300;
  padding: 20px;
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 150;
}

.modal-container {
  background: #090C02;
  color: #FFFCFF;
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 90%;
  width: 90%;
  height: 80%;
  position: relative;
  max-height: 80%;
  overflow-y: auto;
  z-index: 200;
}

/* Custom scrollbar styles */
.modal-container::-webkit-scrollbar {
  width: 12px;
}

.modal-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.modal-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.modal-container::-webkit-scrollbar-thumb:hover {
  background: #0000008f;
}

.modal-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  color: rgb(152, 151, 151);
  cursor: pointer;
}

.modal-title {
  font-size: 1.5rem;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  color: #FFFCFF;
  margin-bottom: 1.5rem;
}

.modal-description {
  font-size: 1rem;
  color: #F5F5F5;
  margin-bottom: 2rem;
  font-family: monospace;
}

.modal-github-link {
  color: #0070f3;
  text-decoration: none;
  font-family: monospace;
  font-size: 1rem;
}
.modal-github-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.github-icon {
  width: 58px; /* Ajusta el tamaño según tus necesidades */
  height: 58px;
  justify-content: center;
}

.modal-github-link:hover {
  text-decoration: underline;
}

.modal-figma-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.modal-figma {
  width: 650px;
  height: 450px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* styles/globals.css */
/* styles/globals.css */

.about-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 1200px;
  padding: 20px;

}
.section {
  width: 100%;
  min-height: 100vh; /* Esto asegura que cada sección ocupe la altura completa de la pantalla */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.section-heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.section-content {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}
blockquote {
  margin-top: 2rem;
  font-style: italic;
  font-size: 1.5rem;
  color: #EEEEEE;
}
.grid {
  display: grid;
  gap: 1rem;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-4 {
  gap: 1rem;
}

/* CSS for Skeleton Loader */
.skeleton-loader {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* CSS for simple loading screen */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
