@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
  font-family:'JetBrains Mono',  ;
  src: url('/portfoliorm/public/fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family:'Pixelify Sans',  ;
  src: url('/portfoliorm/public/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
}
html, body {
  @apply font-sans;
  @apply font-sans2;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0); /* Asegura que el fondo sea blanco */
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Negro translúcido */
  z-index: 1; /* Por encima del shader pero por debajo del contenido */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  position: relative;
  z-index: 10; /* Asegurar que el contenido esté encima del shader */
  background-color: rgba(0, 0, 0, 0); /* Fondo con opacidad */
  max-width: 1900; /* Ajustar según sea necesario */
  border: 1px solid #33333300;
  padding: 20px;
}
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal-container {
  background: rgb(87, 84, 84);
  color: rgba(0, 0, 0, 0.541);
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 100%;
  width: 80%;
  height: 80%;
  position: relative;
}

.modal-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  color: gray;
  cursor: pointer;
}

.modal-title {
  font-size: 2.5rem;
  font-family: monospace;
  font-weight: bold;
  color: bisque;

  margin-bottom: 1.5rem;
}

.modal-description {
  font-size: 1.25rem;
  color:blanchedalmond; 
  margin-bottom: 2rem;
  font-family: monospace;
}

.modal-github-link {
  color: #0070f3;
  text-decoration: none;
  font-family: monospace;
  font-size: 1.25rem;
}

.modal-github-link:hover {
  text-decoration: underline;
}
.modal-figma {
  margin-top: 1rem;
  width: 50%;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}